.button {
  background-color: magenta;
  border: 5px solid lighten(magenta, 30%);
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
}

.button:hover {
  background-color: darken(magenta, 5%);
}

.button:active {
  background-color: darken(magenta, 10%);
}

.Counter {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  border: 5px solid magenta;
  font-weight: 700;
  margin: 2em auto;
  padding: 2em;
  width: 400px;
}

.count {
  font-size: 8em;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}
